<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>home</title>
        <link href="css/index.css" rel="stylesheet">
    </head>
    <body>
        <div class="block">
            <a href="/interface-1">
            <div class="block-fon fon-1"></div>
            <div class="block-main">
                <div class="block-text">
                    УЖАСНІІЙ
                </div>
            </div>
            </a>
        </div>
        <div class="block">
            <a href="/interface-2">
            <div class="block-fon fon-2" href="/interface-2"></div>
            <div class="block-main">
                <div class="block-text">
                    НУ ТАКОЕ
                </div>
            </div>
            </a>
        </div>
        <div class="block">
            <a href="/interface-3">
            <div class="block-fon fon-3" href="/interface-3"></div>
            <div class="block-main">
                <div class="block-text">
                    ЗДОРОВОГО ЧЕЛОВЕКА
                </div>
            </div>
            </a>
        </div>
    </body>
</html>
